* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0c192c;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    color: rgb(129, 255, 253);
    background-size: 100%;
    background-color: rgb(4, 4, 49);
    font-size: 20px;
}

.right nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.left {
    margin: 10px;
}

.right  a {
    text-decoration: none;
    color: rgb(129, 255, 253);
}

.right li a:hover {
    text-decoration: none;
    color: rgb(216 0 255);
    font-size: 12.5px;
}

.sec {
    /* display: flex; */
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}


.right_sec img {

    margin: 50px;
    width: 250px;
    height: 250px;
    border: solid 2.5px;
    border-color: aqua;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(62 178 190 / 75%);

}

.left_sec {
    font-size: 2rem;
    position: relative;
    width: 31%;
    /* height: 200px; */
    /* border: solid; */
    color: rgb(129, 255, 253);
    margin: 50px;
}
.btn {
    margin-top: 70px;
    /* position: relative; */
}

.btn-1 {
    background-color: rgb(26 26 75);
    width: 128px;
    height: 40px;
    border: none;
    border-radius: 9px;
    padding: 5px;
    /* font-size: 17px; */
    color: rgb(129, 255, 253);
    margin: 10px;
    cursor: pointer;
    border: solid rebeccapurple;
}

.btn-1:hover{
    background-color: rgb(94 22 112);
    border: solid #3231c8;
    color: rgb(158, 255, 250);
    
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
border-radius: 50%;
box-shadow: 0 0 0 10px #4fc3dc44,
0 0 50px #4fc3dc,
0 0 100px #4fc3dc;
animation: animate 15s linear infinite;
animation-duration: calc(110s/ var(--i))
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
0 0 50px #ff2d75,
0 0 100px #ff2d75;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
   100%{
        transform: translateY(-10vh) scale(1);
    }
}
.detail_first{
    position: relative;
    display: flex;
    justify-content: space-around;

}
/* new for responsive that's pending */
.logo{
    display: flex;
    margin: 30px;
}
.linkedin{
margin: 15px;
}
.github{
  margin: 15px;
}
#purple{
   background-color: #030047;;
}
.sec_2 #head{
       /* display: flex; */
       justify-content: space-around;
       color: rgb(129, 255, 253);
       /* margin: 3px; */
       padding: 10px;
       background-size: 100%;
       background-color: rgb(4, 4, 49);
       font-size: 25px;
       margin-top: 210px;
}
.card p{
    font-size: 29px;
    width: 750px;
    height: 350px;
    /* color: aqua; */
    color: rgb(193, 255, 254);
    border: white solid 2px;
    margin-top: 75px;
    margin-bottom: 100px;
    margin-left: 50px;
    border-radius: 3%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(62 178 190 / 75%);

}
.content{
    display: flex;
}
.content img{
    width: 400px;
    margin: 62px;
    margin-left: 215px;
    /* border: 1px; */
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(62 178 190 / 75%);

}
.sec_3 #head{
    /* display: flex; */
    padding: 10px;
    color: rgb(129, 255, 253);
    background-size: 100%;
    background-color: rgb(4, 4, 49);
    font-size: 25px;
    margin-top: 210px;
}
.card-1{
    position: relative;
    width: 300px;
    height: 350px;
    perspective: 10000px;

}
.card-2{
    position: relative;
    width: 300px;
    height: 350px;
    perspective: 10000px;
}
.card-inner_1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(62 178 190 / 75%);

    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 49px;
    margin-left: 10px;
    margin-right: inherit;
}
.card-1:hover .card-inner_1{
    transform: rotateY(-180deg);
        cursor: pointer;

}
.card-2:hover .card-inner_1{
    cursor: pointer;
    transform: rotateY(-180deg);
}
.card-font_1, .card-back_1{
    position: absolute;
    /* width: 340px;
    height: 340px; */
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background: linear-gradient(to bottom right, #ff4b2b, #ff2d75)
}
.card-back_1{
    background: linear-gradient(to bottom right,#3b6473, #6e6595);
    color: #fff;
    transform: rotateY(-180deg);

}
.card-font_1 img{
    /* width: 340px;
    height: 340px; */
    height: 100%;
    width: 100%;
}
.card-back_1 p{
    font-size: small;
    padding: 10px;
}
.card-back_1 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}
.card-back_1 button{
    margin-left: 205px;

}
.cardEffects{
    display: flex;
    justify-content: space-evenly;
}
.skill_img{
    border: #eff9f9 2px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(62 178 190 / 75%);
    margin: 32px;

}
.sec_4  #head{
    /* display: flex; */
    padding: 10px;
    color: rgb(129, 255, 253);
    background-size: 100%;
    background-color: rgb(4, 4, 49);
    font-size: 25px;
    margin-top: 210px;
}
#card_skill{
    display: flex;
}
#card_skill img{
    width: 200px;
    height: 150px;
}
.sec_4 #topic{
    color: rgb(129, 255, 253);
    font-style: italic;
    margin: 15px;
    margin-left: 25px;
    font-size: 25px;
}
.sec_5  #head{
    /* display: flex; */
    padding: 10px;
    color: rgb(129, 255, 253);
    background-size: 100%;
    background-color: rgb(4, 4, 49);
    font-size: 25px;
    margin-top: 210px;
}
.card_2a{
    display: flex;
}
.card_2a #edu_detail{
    font-size: 29px;
    width: 621px;
    height: 268px;
    /* color: aqua; */
    color: rgb(193, 255, 254);
    border: white solid 2px;
    margin-top: 75px;
    margin-bottom: 100px;
    margin-left: 50px;
    border-radius: 3%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(62 178 190 / 75%);
}
.sec_6  #head{
    /* display: flex; */
    padding: 10px;
    color: rgb(129, 255, 253);
    background-size: 100%;
    background-color: rgb(4, 4, 49);
    font-size: 25px;
    margin-top: 210px;
}
.card-3{
    position: relative;
    width: 300px;
    height: 350px;
    perspective: 10000px;
}
.sec_7  #head{
    /* display: flex; */
    padding: 10px;
    color: rgb(129, 255, 253);
    background-size: 100%;
    background-color: rgb(4, 4, 49);
    font-size: 25px;
    margin-top: 210px;
}
.content_2b{
    display: flex;
    justify-content: center;
}
.card_2b {
    display: flex;
    font-size: 29px;
    width: 750px;
    height: 350px;
    /* color: aqua; */
    color: rgb(193, 255, 254);
    border: white solid 2px;
    margin-top: 75px;
    margin-bottom: 100px;
    margin-left: 50px;
    border-radius: 3%;
    padding: 70px;
    padding-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(62 178 190 / 75%);
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}





/* for responsive dev */

@media only screen and (max-width: 450px){
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #0c192c;
        min-height: 100vh;
    }
    
    header {
        display: flex;
        justify-content: space-around;
        color: rgb(129, 255, 253);
        background-size: 100%;
        background-color: rgb(4, 4, 49);
        font-size: 12px;
    }
    
    .right ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        margin: 10px;
    }
    
    .left {
        margin: 10px;
    }
    
    .right li a {
        text-decoration: none;
        color: rgb(129, 255, 253);
    }
    
    .right li a:hover {
        text-decoration: none;
        color: rgb(216 0 255);
        font-size: 12.5px;
    }
    
    .sec {
        /* display: flex; */
        justify-content: space-around;
        position: relative;
        width: 100%;
        
        overflow: hidden;
    }
    
    
    .right_sec img {
    
        margin: 4px;
        width: 200px;
        height: 200px;
        border: solid 2.5px;
        border-color: aqua;
        border-radius: 50%;
    }
    
    .left_sec {
        font-size: 29px;
        position: relative;
        width: 72%;
        /* height: 200px; */
        /* border: solid; */
        color: rgb(129, 255, 253);
        margin: 50px;
        
    }
    .btn {
        margin-top: 70px;
        /* position: relative; */
        margin-left: -28px;
    }
    
    .btn-1 {
        background-color: rgb(26 26 75);
        width: 128px;
        height: 40px;
        border: none;
        border-radius: 9px;
        padding: 5px;
        /* font-size: 17px; */
        color: rgb(129, 255, 253);
        margin: 10px;
        cursor: pointer;
        border: solid rebeccapurple;
    }
    
    .btn-1:hover{
        background-color: rgb(94 22 112);
        border: solid #3231c8;
        color: rgb(158, 255, 250);
        
    }
    .bubbles{
        position: relative;
        display: flex;
    }
    .bubbles span{
        position: relative;
        width: 30px;
        height: 30px;
        background: #4fc3dc;
        margin: 0 -6px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(110s/ var(--i))
    }
    .bubbles span:nth-child(even){
        background: #ff2d75;
        box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    }
    @keyframes animate {
        0%{
            transform: translateY(100vh) scale(0);
        }
       100%{
            transform: translateY(-10vh) scale(1);
        }
    }
    .detail_first{
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;

    }
}
    